body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:thistle;
    height: 100vh;
}
.menu {
    background-color: aliceblue;
    
}
.menu ul {
    display: flex;
    justify-content: space-between;
}
a{
    color:blueviolet;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li {
    list-style: none;
}

.site-subtitle,
.site-title{
    color:blueviolet;
    text-align: center;
}

.site-subtitle{
    font-style: italic;
}


